{% extends 'base.html' %}

{% block content %}
<section>
    <h2>Quiénes Somos</h2>
    <p>TechSolutions fue fundada en 2010 por un grupo de ingenieros apasionados por la tecnología. Con más de una década de experiencia, hemos crecido hasta convertirnos en un referente en el sector tecnológico, ayudando a empresas de todo el mundo a adaptarse y prosperar en la era digital.</p>
    <h3>Misión</h3>
    <p>Proveer servicios de alta calidad que superen las expectativas de nuestros clientes.</p>
    <h3>Visión</h3>
    <p>Ser la empresa líder en servicios empresariales a nivel mundial.</p>
    <h3>Equipo</h3>
    <p>Conoce a nuestro equipo:</p>
        <p>Juan Pérez - CEO</p>
        <p>María González - CTO</p>
        <p>Luis Martínez - Head of Development</p>
    
</section>
{% endblock %}
